<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.vgaur.vidya.dao.mappers.StudentsMapper">

    <insert id="addStudent">
        INSERT INTO
        STUDENTS
        ( id, teacher_id, name, email, pass, valid_until, created_date, last_modified_date )
        VALUES
        (
            #{student.id},
            #{student.teacherId},
            #{student.name},
            #{student.email},
            #{student.pass},
            #{student.validUntil},
            current_timestamp,
            current_timestamp
        )
    </insert>

    <resultMap id="studentMap" autoMapping="true"
               type="io.vgaur.vidya.models.ImmutableStudent">
        <constructor>
            <arg column="id" javaType="java.util.UUID"/>
            <arg column="teacherId" javaType="java.util.UUID"/>
            <arg column="name" javaType="String"/>
            <arg column="email" javaType="String"/>
            <arg column="pass" javaType="String"/>
            <arg column="validUntil" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <select id="getStudent" resultMap="studentMap">
        SELECT
            id,
            teacher_id as teacherId,
            name,
            email,
            pass,
            valid_until as validUntil
        FROM STUDENTS
        WHERE id = #{studentId}
    </select>

    <select id="getStudentByEmail" resultMap="studentMap">
        SELECT
            id,
            teacher_id as teacherId,
            name,
            email,
            pass,
            valid_until as validUntil
        FROM STUDENTS
        WHERE email = #{email}
    </select>
</mapper>