<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.vgaur.vidya.dao.mappers.TokensMapper">

    <insert id="saveToken">
        INSERT INTO
        TOKENS
        ( id, metadata )
        VALUES
        (
            #{id},
            to_json(#{metadata}::json)
        )
    </insert>

    <select id="getToken" resultType="String">
        SELECT metadata
        FROM TOKENS
        WHERE id = #{id}
    </select>

    <delete id="deleteToken">
        DELETE
        FROM TOKENS
        WHERE id = #{id}
    </delete>
</mapper>