[Unit]
Description=Vidya Backend Service

[Service]
User=ec2-user

#change this directory into your workspace
#mkdir workspace
WorkingDirectory=/home/ec2-user/code/learn-english-app/learn-backend

#path to the executable bash script which executes the jar file
ExecStart=/bin/bash /home/ec2-user/code/learn-english-app/learn-backend/run.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target